/*reset css*/
html,body,div,span,applet,object,frame,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS header*/
#header{
    display: flex;
    width: 100%;
    background-image: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg-head.png?1664720334923);
    background-color: rgb(109, 109, 112);
    align-items: center;
    justify-content: center;
    height: 150px;
    position: fixed;
    z-index: 99;
    top: 0;

}

.container .column{
    padding: 10px;
}

.header-title{
    color: #fff;
    font-weight: bold;
}

/*dropdown*/
.dropdown:hover .dropdown-menu {
    display: block;
    width: 270px;
    
}
.dropdown ul{
    list-style-type: none;
}
.dropdown-menu .dropdown-item:hover {
    color: orangered;
}

.dropdown-menu .dropdow-menu .dropdown-item:hover {
    background-color: orangered;
    color: white;
}

.dropdown-menu {
    overflow-y: scroll;
    height: 400px;
}

.dropdown-menu::-webkit-scrollbar {
    width: 5px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: orangered;
}

.dropdow-menu .sub-menu {
    display: none;
}

.dropdow-menu .dropdown-item li:hover .sub-menu {
    display: block;
    position: absolute;
    top: 150px;
    left: 30%;


}
/*search*/
.search-box {
    position: relative;
    background: #fff;
    height: 41px;
    width: 500px;
    border: 1px solid #f26522;
}

.search-box input {
    background: none;
    border: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    width: 0px;
    transition: all 0.9s;
}


.search-box:hover input {
    width: 400px;
    padding: 0 6px;
}

.search-button {
    float: right;
    width: 50px;
    height: 40px;
    border: none;
    background: rgba(0, 0, 0, 0);
    background-color: #f26522;
}
/*giỏ hàng*/
.header-right {
    display: flex;
    width: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: white;
    padding-top: 20px;
}
.header-right i{
    font-size: 30px;
}
.header-right a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.header-right a:hover {
    color: #f26522;
    font-weight: bold;
}

/* CSS phần chính */
.container-full{
    margin-top: 150px;
}
/*slide 1*/
.img-slider {
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
.slider{
    padding-top: 20px;
    background: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg1.png?1656562257403);
    background-size: 100% auto;
}

/*banner*/
.item{
    background-color: #fff;
    height: 80px;
    padding-top: 20px;
}
.banner{
    padding-top: 30px;
    background: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg1.png?1656562257403);
    background-size: 100% auto;
}

/*slide 2*/
.title-text a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.title-text a:hover{
    color: #f26522;
}
.product-info{
    font-size: 14px;
    font-weight: bold;
}
.product-info a {
    text-decoration: none;
    color: black;
}
.product-info a:hover {
    color: orangered;

}
.price-product {
    color: orangered;
    font-weight: bold;
    font-size: 14px;
}
.swiper {
    width: 100%;
    height: 17%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
.swiper-slide {
    display: block;
    margin-top: 20px;
  }
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.cart{
    position: absolute;
    bottom:5px;
    right:10px;
    display: none;
}
.eye {
    position: absolute;
    left: 10px;
    top:40px;
    display: none;
}
.swiper-slide:hover .eye{
    display: block;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    left: 0px;
    text-align: left;
    transition: 0.5s all;
    z-index: 9;
    background: #f26522;
    color: #fff;
    bottom: 0px !important;
    height: 60px;
    width: 60px;
    border: none;
    top: 0px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;  
}
.swiper-slide:hover .cart{
    display: block;
    bottom: 0;
    right: 0;
    clip-path:polygon(100% 0, 0% 100%, 100% 100%);
    padding: 30px 10px 0px 30px !important;
    transition: all 0.5s ease 0s;
    background: #f26522;
    height: 60px;
    width: 60px;
    font-size: 16px;


}
.swiper .swiper-slide:hover {
    background-color: #fff;
    height: 300px;
}
.product-slide{
    padding-top: 30px;
    background: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg1.png?1656562257403);
    background-size: 100% auto;
}

/* video*/
.video{
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 20px;

    background: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg1.png?1656562257403);
    background-size: 100% auto;
}

.video .container video {
    border: 2px solid #f26522;
}

/*product-box*/
.product-box{
    margin-top: 0;
    padding-top: 30px;
    background: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg1.png?1656562257403);
    background-size: 100% auto;
}

.l-item{
    margin-top:10px ;
    background-color: #fff;
    width: 420px;
    height: 620px;
    font-size: 20px;
    font-weight: bold;
}
.l-item .price-product{
    font-size: 18px;
}
.l-item:hover .eye{
    display: block;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    left: 15px;
    text-align: left;
    transition: 0.5s all;
    z-index: 9;
    background: #f26522;
    color: #fff;
    bottom: 0px !important;
    height: 80px;
    width: 80px;
    border: none;
    top: 10px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;  
}
.l-item:hover .cart {
    display: block;
    bottom: 12px;
    right: -55px;
    clip-path:polygon(100% 0, 0% 100%, 100% 100%);
    padding: 45px 10px 0px 40px !important;
    transition: all 0.5s ease 0s;
    background: #f26522;
    height: 80px;
    width: 80px;
    font-size: 16px;
}
.product-box .product-item{
    background-color: #fff;
    width: 220px;
    height: 300px;
    margin: 10px;
} 
.product-box .product-item:hover .eye{
    display: block;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    left: 25px;
    text-align: left;
    transition: 0.5s all;
    z-index: 9;
    background: #f26522;
    color: #fff;
    bottom: 0px !important;
    height: 60px;
    width: 60px;
    border: none;
    top: 10px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;  
}
.product-box .product-item:hover .cart{
    display: block;
    bottom: 12px;
    right: -55px;
    clip-path:polygon(100% 0, 0% 100%, 100% 100%);
    padding: 30px 10px 0px 30px !important;
    transition: all 0.5s ease 0s;
    background: #f26522;
    height: 60px;
    width: 60px;
    font-size: 16px;
}

.name{
    font-size: 14px;
    font-weight: bold;
}
.name:hover{
    color: #f26522;
}

/* product sale*/
.product-sale .title-text{
    padding-top: 20px;
}
.product-sale .title-text h2 a{
    color: #fff;
}
.product-sale .title-text h2 a:hover{
    color: #f26522;
}

.bg-overlay {
    position: relative;
    z-index: 1;
}
.bg-overlay:after {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(54, 52, 52, 0.8);
    z-index: -1;
    content: "";
    display: inline-block;
}
.wrap-time .time-button{
    width: 100%;
    height: 70px;
    border: 0;
    background-color: rgba(245, 239, 239, 0.372);
    
}

.wrap-time{
   margin-top: 30px;
   margin-bottom: 30px;
}

.product-sale .swiper .swiper-slide{
    width: 570px;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(245, 239, 239, 0.372) ;
}
.sale-cart{
    display: absolute;
    border: 1px solid #fff;
    padding-left:30px ;
    padding-top: 15px;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 50px;
}
.sale-cart:hover{
    background-color: #f26522;
}
.product-sale .name-product{
    font-size: 20px;
    color: #fff;
}
.product-sale .price-product{
    font-size: 20px;
    color: #f26522;
}
.product-sale .swiper img{
    width: 270px;
    height: 270px;
    margin-top:30px;
    margin-left: 20px;
}
.box-left{
    display: block;
    padding-top: 100px;
    padding-left: 10px;
}
.product-sale .swiper .swiper-slide:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.product-sale .swiper .swiper-slide{
    margin-bottom: 30px;
}
.product-sale{
    margin-top: 0;
    background-image: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg-section1.jpg?1664720334923);

}

/*product like*/
.product-like img {
    width: 235px;
    height: 250px;
}

.product-like .swiper-slide {
    width: 235px;
    height: 320px;
    margin: 10px;
}
.product-like .box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-like {
    background-image: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg-head.png?1664720334923);
    background-color: rgb(109, 109, 112);
    background-size: 100% auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.product-like .name-product{
    color: #fff;
}
.product-like .swiper-slide:hover {
    background-color: #fff;
}
.product-like .swiper-slide:hover .name-product{
    color: black;
}



/* footer*/
.f-title{
    font-size: 20px;
    font-weight: bold;
}
.detail-form{
    display: flex;
}
.detail-form button{
    width: 50px;
    border: none;
}
.detail-form button:hover{
    background-color: orangered;
}

.f-menu a{
    text-decoration: none;
    color: #fff;
}
.f-menu a:hover{
    color: orangered;
    margin-left: 5px;
    transition: 0.4s all;
}
#footer ul{
    list-style-type: none;
}
.social-media-icon{
    padding-top: 10px;
    padding-left: 0;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
#footer{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
    background-image: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg-f2.jpg?1656562257403) ;
    background-color: #6d6d70;
    color: #fff;
}

/*menu-icon trang giỏ hàng*/
.menu-icon table{
    position: fixed;
    z-index: 9;
    top:300px;
    left:50px;
   
}
.menu-icon .icon {
    display: flex;
    flex-direction: row;
    background-color: #f26522;
    width: 50px;
    height:50px;
    border: none;
    text-align: center;
    justify-content: space-around;
}

.menu-icon i{
    color: #fff;
    background-color: #f26522;
}
.menu-icon .choice{
    background-color: #f26522;
    padding: 2px;
    display: none;
}
.menu-icon .icon:hover .choice {
    display: block;
    left: 200px;
}
.menu-icon .item{
    width:300px ;
    height: 50px;
}

/* Mobile: width <720px */
@media only screen and (max-width: 46.1875em) {
    .container-full{
        display: block;
    }
    #header{
        display: block;
        height: 200px;
    }
    .logo img{
        width:200px;
        right: 0;
    }
    .dropdown {
        width:20px; 
    }
    .dropdown .button{
        font-size: 13px;
    }
    .search-box{
        width: 200px;
    }
    .search-box input{
        margin-left: 50px;
        font-size: 15px;
    }
    .search-button{
        width: 50px;
        height: 40px;
        position: absolute;
        z-index:99;
        display: block;
    }
    .header-right{
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top:-80px;
        left: 220px;
        
    }
    .header-right a{
        font-size: 16px;
    }
    .header-right i{
        font-size: 16px;
    }
    .container-full{
        margin-top: 200px;
    }
    .slider {
        padding: 10px;
    }
    .banner {
        padding: 10px;
    }
    .banner p{
        display: none;
    }
    .title-text h2{
        font-size:20px ;
    }
    .swiper .swiper-wrapper{
        width: 300px;
        
    }
    .swiper .swiper-slide{
        background-color: #fff;
        height: 300px;
    }
    .swiper-slide .product-item {
        width: 300px;
        height: 200px;
    }

    .video video{
        width: 360px;
        height: 100px;
    }
    .product-box{
        display: block;
    }
    .product-box img{
        width: 320px;
        height: 260px;
    }
    .l-item .price-product{
        font-size: 13px;
    }
    .l-item .name {
        font-size: 13px;
    }
    .l-item{
        margin-left: 20px;
        width: 320px;
        height: 400px;
    }


    .swiper-slide .eye{
        display: block;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        left: 0px;
        text-align: left;
        transition: 0.5s all;
        z-index: 9;
        background: #f26522;
        color: #fff;
        bottom: 0px !important;
        height: 60px;
        width: 60px;
        border: none;
        top: 0px;
        font-size: 16px;
        padding-left: 15px;
        padding-top: 5px;  
    }
    .swiper-slide .cart{
        display: block;
        bottom: 0;
        right: 30px;
        clip-path:polygon(100% 0, 0% 100%, 100% 100%);
        padding: 26px 20px 0px 35px !important;
        transition: all 0.5s ease 0s;
        background: #f26522;
        height: 60px;
        width: 60px;
        font-size: 16px;
    
    
    }
    .l-item .eye{
        display: block;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        left: 35px;
        text-align: left;
        transition: 0.5s all;
        z-index: 9;
        background: #f26522;
        color: #fff;
        bottom: 0px !important;
        height: 80px;
        width: 80px;
        border: none;
        top: 10px;
        font-size: 16px;
        padding-left: 15px;
        padding-top: 5px;  
    }
    .l-item .cart {
        display: block;
        bottom: 0px;
        right: 35px;
        clip-path:polygon(100% 0, 0% 100%, 100% 100%);
        padding: 45px 10px 0px 40px !important;
        transition: all 0.5s ease 0s;
        background: #f26522;
        height: 80px;
        width: 80px;
        font-size: 16px;
    }
    .group-product {
        display: block;
    }
    .product-box .product-item{
        margin-left: 9px;
        width: 320px;
        height: 300px;
        padding: 30px;
    }
    
    .product-box .product-item .eye{
        display: block;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        left: 23px;
        text-align: left;
        transition: 0.5s all;
        z-index: 9;
        background: #f26522;
        color: #fff;
        bottom: 0px !important;
        height: 60px;
        width: 60px;
        border: none;
        top: 0px;
        font-size: 16px;
        padding-left: 15px;
        padding-top: 5px;  
    }
    .product-box .product-item .cart{
        display: block;
        bottom: 0px;
        right: -253px;
        clip-path:polygon(100% 0, 0% 100%, 100% 100%);
        padding: 30px 10px 0px 30px !important;
        transition: all 0.5s ease 0s;
        background: #f26522;
        height: 60px;
        width: 60px;
        font-size: 16px;
    }
    .product-sale .swiper .swiper-slide{
        width: 150px;
        height: 400px;
        display: block;
    }
    .product-sale .swiper img {
        width: 150px;
        height: 150px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .box-left{
        font-size: 14px;
        display: block;
        padding-top: 0px;
        padding-left: 10px;
    }
    .box-left .product-info .name-product{
        font-size: 14px;
    }
    .box-left .product-info .price-product{
        font-size: 14px;
    }
    #footer {
        height: 3000px;
    }
    #footer .revfooter{
        display: block;
        
    }
}
/*tablet: width >=720px and width <1024px */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    
}
